<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center" style="background-color: darkkhaki; color: white;">
        <h1><i class="fa-regular fa-file"></i></h1>
        <p>Create a new account or login</p>
        <a href="/register" class="btn btn-primary btn-block mb-2" style="background-color: blue; color: white;">Register</a>
        <a href="/login" class="btn btn-secondary btn-block" style="background-color: blue; color: white;">Login</a>
      </div>
    </div>
  </div>
</body>
</html>
